.page {
    height: 100%;
}
.page__body {
    min-height: 100%;
    display: flex;

    margin: 0;
    padding: 0;
    position: relative;
}
.button {
    width: 235px;
    height: 70px;
    margin: auto;

    color: #FFFFFF;
    background-color: #ff0000;
    border: none;
    box-shadow: 1px 1px 1px #bb0000;
    border-radius: 7px;
    cursor: pointer;

    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}
.button:hover {
    background-color: #bb0000;
}
.button:active {
    background-color: #bb0000;
    color: #d3d3d3;
}

.popup-bg {
    position: absolute;
    z-index: 10;

    background-color: #707070;
    width: 100%;
    min-height: 100%;
}

.popup {
    position: absolute;
    z-index: 20;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    min-height: 540px;
    padding-left: 19px;
    padding-right: 19px;

    background-color: #fff;
    background-image: 
        url('img/files.png'),
        url('img/books.png');
    background-repeat: no-repeat, no-repeat;
    background-position: 50% 153px, 50% 14px;
    background-size: 258px 35px, 228px 163px;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.popup__close {
    position: absolute;
    top: 12px;
    right: 10px;

    width: 18px;
    height: 18px;
    background-image: url('img/icons/icon-close.svg');
    background-repeat: no-repeat;
    font-size: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.popup__title {
    margin-top: 210px;
    margin-bottom: 25.2px;

    text-align: center;
    font: 700 20px/24px 'Open Sans', sans-serif;
}
.popup__form {
    width: 100%;
    box-sizing: border-box;
}
.form {
    display: flex;
    flex-direction: column;
}
.form__label {
    margin-bottom: 6.5px;

    font: 400 13px/15px 'Open Sans', sans-serif;
}
.form__input {
    margin-bottom: 20px;
    padding: 10px 15px 10px;
    box-sizing: border-box;

    border: 1px solid #A0A0A0;
    border-radius: 5px;
    height: 41.75px;

    font: 400 16px/19px 'Open Sans', sans-serif;

}
.form__input::placeholder {
    color: #A0A0A0;
    font: 400 16px/19px 'Open Sans', sans-serif;
}
.form__submit {
    height: 58px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 39px;
    box-sizing: border-box; 

    border: none;
    border-radius: 5px;
    background-color: #3CC36D;
    box-shadow: 0 6px #36AA60;
}
.form__submit:active {
    background-color: #36AA60;
}
.form__submit-text {
    font: 500 20px/24px 'Open Sans', sans-serif;
    color: #fff;
}
.form__note {
    display: none;
}
.form__files-info {
    color: #808080;
    text-transform: uppercase;
    font: 400 11.6px/14px 'Open Sans', sans-serif;
}

.hidden {
    display: none;
}


@media (min-width: 1200px) {
    .popup {
        width: 909px;
        min-height: 555px;
        padding-left: 50px;
        padding-right: 52px;
        padding-top: 44.5px;
        padding-bottom: 68.5px;
        box-sizing: border-box;

        background-position: 53px 191px, 30px 100%;
        background-size: 326px 44px, 424px 302px;    

        align-items: stretch;
    }
    .popup__close {
        top: 21px;
        right: 18px;
    }  
    .popup__title {
        margin-top: 0;
        margin-bottom: 48px;
    
        text-align: left;
        font: 700 35px/42px 'Open Sans', sans-serif;
    }
    .popup__form {
        width: 352px;
        box-sizing: border-box;
        align-self: flex-end;
    }    
    .form__label {
        margin-bottom: 9px;
    
        font: 400 15.2px/18.2px 'Open Sans', sans-serif;
    }
    .form__input {
        margin-bottom: 26px;
        padding: 12px 20px 12px;    
        height: 52px;
    
        font: 400 19.8px/23.8px 'Open Sans', sans-serif;
    }
    .form__input::placeholder {
        font: 400 19.8px/23.8px 'Open Sans', sans-serif;
    }
    .form__submit {
        height: 71px;
        margin-top: -10px;

        padding: 16px 61px;
    }
    .form__submit-text {
        font: 500 24.6px/29.5px 'Open Sans', sans-serif;
    }    
    .form__note {
        margin-top: 9px;
        display: flex;
        justify-content: space-around;
    }
}